@import "tailwindcss";

@theme {
  --color-cream: #e3f3ef;
  --color-ink: #2b2118;
  --color-clay-600: #c1622d;
  --color-clay-100: #f3d9c5;
  --color-saffron-500: #e3a727;
  --color-muted: #8a7a68;
}

html {
  background-color: var(--color-cream);
}

body {
  background-color: var(--color-cream);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}