@import "tailwindcss";

@theme {
  --color-cream: #f7eee1;
  --color-ink: #3e2723;
  --color-clay-600: #8b5a2b;
  --color-clay-100: #ead9c3;
  --color-saffron-500: #c08552;
  --color-muted: #9c8770;
}

html {
  background-color: var(--color-cream);
}

body {
  background-color: var(--color-cream);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}